name: test-gh

on:
  push:
    branches:
      - develop
  pull_request:
    types: [opened, reopened, synchronize]
jobs:
  test-all:
    name: Test GH
    runs-on: ubuntu-latest
    steps:
    - name: Set up Go 1.x
      uses: actions/setup-go@v1
      with:
        go-version: "1.16"
    - name: Check out code into the Go module directory
      uses: actions/checkout@v2
      with:
        path: src/github.com/${{ github.repository }}
    - name: Run Tests
      run: |
        set -e -x

        export GOPATH=$(echo `pwd`)
        cd src/github.com/${{ github.repository }}

        # deploy local registry and run tests
        ./hack/test-all-local-registry.sh
